.formLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  padding: 10px 0px;
  margin: 0px auto;
}

.formLogin2 {
  margin-top: 20px;
}

.buttonLogin {
  margin-top: 20px;
  width: 150px;
  margin-left: 25px;
}
