.formSubmit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  padding: 10px 0px;
  margin: 0 auto;
}

.inputRegister {
  margin-top: 20px;
}

.buttonRegister {
  margin-top: 20px;
  width: 150px;
  margin-left: 25px;
}
